.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-right: 20px;
}

.image-container img {
  max-width: 100%;
  border-radius: 50%; /* Hace la imagen redondeada */
}

.text-container {
  flex: 2;
}

.prev-button {
  width:30px; /* Divide el espacio para los botones en dos */
  margin-right: auto; /* Mueve el botón "Previous" al borde izquierdo */
  border-radius: 10px; /* Añade borde redondeado al botón */
  background-color: #007b52; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none; /* Quita el borde */
  padding: 10px; /* Añade espacio alrededor del texto */
  cursor: pointer;
}
.prev-button .btnpv {
  fill: white;
  color: #ffffff;
}

.next-button {
  width: 48%; /* Divide el espacio para los botones en dos */
  margin-left: auto; /* Mueve el botón "Next" al borde derecho */
  border-radius: 10px; /* Añade borde redondeado al botón */
  background-color: #007b52; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none; /* Quita el borde */
  padding: 10px; /* Añade espacio alrededor del texto */
  cursor: pointer;
}
.image-fade {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.image-fade.loading {
  opacity: 0.5;
}

.image-fade:not(.loading) {
  opacity: 1;
}

/* Resto del CSS ... */
.colombia{
  z-index: 101;
}
.contenedor-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 96vw;
  height:590px;
}
.button {
  position: relative;
  list-style: none;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.button .svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all 0.3s;
}

.button .svg2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  fill: #f4af03;
  opacity: 0;
  transition: opacity 0.3s;
}

.button:hover .svg {
  fill: #f4af03;
}

.button:hover .svg2 {
  opacity: 1;
  fill: #f4af03;
}
 .contenedor-modal img{
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
 }
 /* Estilos para el modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}


/* Estilos para el fondo del modal */
.modal-overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal img{
  display: flex;
  justify-content: center;
  width: 150px;
  margin: 0 auto;
}
.close-button{
  width: 40px;
  height: 40px;
  background-color: red;
  border: none;
  border-radius: 15px;
  color: white;
  font-weight: bolder;
  font-size: 1.2rem;
  cursor: pointer;
}
.container-element {
  width: 100%;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 50px 1fr;
}
.container-title {
  display: grid;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  height: 65px;
  width: 100vw;
  font-family: 'Secular One', sans-serif;
}

.contain-rulette {
  height: 350px;
  width: 50vw;
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.container-move{
  display: grid;
}
.container-element .container-title {
  grid-column: 1/2;
  grid-row: 1/2;

}

.container-element .contain-arrow {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 50px;
  height: 50px;

}

.container-element .contain-rulette {
  grid-column: 1/2;
  grid-row: 3/4;

}

.container-cone {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  border: 5px solid #f7981f;
  border-radius: 50%;
}

.size {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  grid-column: 1/2;
  grid-row: 1/2;
}

.arrow{
  width: 50px;
  height: 50px;
  background:#cacaca;
  clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
  transform: rotate(270deg);
}

.circle {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: blue;
  grid-column: 1/2;
  grid-row: 1/2;
}

.cone1 {
  background: #ff64bb;
  clip-path: polygon(50% 0, 50% 50%, 0 0);

}

.cone2 {
  background: #fff;
  clip-path: polygon(50% 0, 50% 50%, 0 0);
  transform: rotate(45deg);
}

.cone3 {
  clip-path: polygon(50% 0, 50% 50%, 0 0);
  transform: rotate(90deg);
  background: #00b7ff;
}

.cone4 {
  clip-path: polygon(50% 0, 50% 50%, 0 0);
  transform: rotate(135deg);
  background: #536eff;
}

.cone5 {
  clip-path: polygon(50% 0, 50% 50%, 0 0);
  transform: rotate(180deg);
  background: #3116f0;
}

.cone6 {
  clip-path: polygon(50% 0, 50% 50%, 0 0);
  transform: rotate(225deg);
  background: #ffe300;
}

.cone7 {
  clip-path: polygon(50% 0, 50% 50%, 0 0);
  transform: rotate(270deg);
  background: red;
}

.cone8 {
  clip-path: polygon(50% 0, 50% 50%, 0 0);
  transform: rotate(315deg);
  background: #ff6225;
}
.container-cone {
   
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.container-cone .spinning {
  animation: rotate 2s linear;
}

.container-cone :not(.spinning) {
  animation: none;
}
.rotate-animation {
  animation: rotate 2s linear infinite;
}

  
@media screen and (max-width: 860px) {
.size{
  width: 284px;
  height: 284px;
  
}
.circle{
  width: 285px;
  height: 284px;
  padding: auto;
 
}

}
