.inicio{
  background-image: url('../../assets/img/5739470.jpg'); 
  background-position: center;
background-size: cover;
  background-repeat: no-repeat;
    margin-top: 80px;
    width: 100%;
    height: 350px;
    --mask-2: radial-gradient(38.42px at 50% calc(100% - 54.00px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%, radial-gradient(38.42px at 50% calc(100% + 24.00px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
  -webkit-mask: var(--mask-2);
  mask: var(--mask-2);
  }
  .inicio .titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.589);
    text-align: center;
  }
  .inicio .titulo h2{
    padding: 10px;
    background-color: #FF9900;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    border-radius: 15px;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1200px;
    gap: 10px 60px;
    margin: 50px auto; /* Centrar verticalmente y centrar horizontalmente */
    justify-content: center; /* Centrar horizontalmente */
  }
h2 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  color: #333;
}
.tarjeta {
  max-width:52vw;
  margin: 43px auto;
  display: block;
  border-radius: 10px;
  /* border: 1px solid black; */
  background-color: #fff;
  box-shadow:  8px 8px 61px #b1b1b1,
             -8px -8px 61px #ffffff;
 
}
.contenido {
  display: flex;
}
@media (max-width: 768px){
  .inicio{
    background:#FF9900;
  }
  .inicio .titulo{
    background-color: #FF9900;
    border: none;
  }
  .container {
    grid-template-columns: 1fr; /* Cambiar a una sola columna */
    width: auto; /* Puedes ajustar esto según tus necesidades */
    margin: 20px;
  }
  .card{
   max-width: 95vw;
  }

  .heading {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
  }
}
.ladoIzq, .ladoDer {
  width: 100%;
}
.ladoDer{
  height: 100%;
  /* background-image: url('../../assets/img/dinosaurio.png'); */

}
.ladoDer img {
  width: 100%;
  border-style: none;
}
.ladoIzq {
  
  color: #333;
  padding: 48px
}
.btn {
  display: inline-block;
  background: white;
  margin-right: 4px;
  padding: 14px;
  border-radius: 5px;
  margin-top: 18px;
  font-weight: bold;
}
a.btn{
   text-decoration: none;
}
a.btn:first-of-type {
   background: #0099ff;
   color: white;
   transition: all 500ms ease-in-out;
}
a.btn:hover{
  background-color: #1a4f8b;
}
.titulocard{
  display: flex;
  align-items: center;
  justify-content:flex-start;
  gap: 10px;
}
.titulocard img{
  width: 30px;
}
.titulo{
  font-weight: bold;
}
.fade-enter {
  opacity: 0;
  transform: translateY(10px); /* Opcional: Añade un efecto de deslizamiento */
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 5s ease-in, transform 5s ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 5s ease-out;
}
/* pruebas nueva car  */

.card:nth-child(1){
  position: relative;
  width: auto;
  height: 250px;
  background-image: url('../../assets/images/fondocard2.png'); 
  background-position: center;
background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  padding: 10px 30px;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.card:nth-child(2) {
  position: relative;
  width: auto;
  height: 250px;
  background-image: url('../../assets/images/fondocard3.png'); 
  background-position: center;
background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  padding: 10px 30px;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: white;
}

.heading {
  font-size: 44px;
  font-weight: 700;
  color: #ffffff;
}

.para {
  text-align: center;
  color: #ffffff;
  line-height: 1.4;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.card:hover .overlay {
  opacity: 1;
  pointer-events: auto;
}

.card .cardbtn {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 600;
  padding: 10px 20px;
  font-size: 16px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 999;
  border: none;
  opacity: 0;
  scale: 0;
  transform-origin: 0 0;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover .cardbtn {
  opacity: 1;
  scale: 1;
}

.card .cardbtn:hover {
  box-shadow: 0 0 0px 5px rgba(0, 0, 0, 0.3);
}

.card .cardbtn:active {
  scale: 0.95;
}

.overlay:nth-child(1):after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100%;
  height: 100%;
  background-color: #8b010131;
  transition: transform 0.5s ease;
}
.overlay:nth-child(2):after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100%;
  height: 100%;
  background-color: #01548b31;
  transition: transform 0.5s ease;
}

.card:hover .overlay::after {
  transform: translate(-50%, -50%) scale(2);
}
