/* styles.css */
.pagefade-enter {
    opacity: 0;
  }
  
  .pagefade-enter-active {
    opacity: 1;
    transition: opacity 3s ease-in;
  }
  
  .pagefade-exit {
    opacity: 1;
  }
  
  .pagefade-exit-active {
    opacity: 0;
    transition: opacity 3s ease-out;
  }