/* DetalleContenido.module.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 100px;
  }
  
  .detailContainer {
    width: 60vw;
    height: 850px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-weight: bold;
    text-align: center;
    font-size: 34px;
    margin-bottom: 10px;
  }
  
  .image {
    max-width: 40%;
    height: 330px; /* Ajusta el tamaño de la imagen */
    border-radius: 4px;
    margin-left: 20px; /* Ajusta el espacio entre la imagen y el texto */
    flex-shrink: 0; /* Evita que la imagen se reduzca */
  }
  
  .text {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 20px; /* Agrega espacio a ambos lados del texto */
  }
  