/* Home */
.homepage {
  padding: 30px;
  height: 100vh;
  width: 100%;
  position: relative;
  background: url('../../assets/img/6010415.png');
  background-position: center ;
  background-size: cover;
  background-attachment: fixed;
}
.homepage::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgb(135 10 137 / 58%);
}
.homepage .content {
  display: flex;
  height: 90%;
  z-index: 3;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.homeLogo {

  margin-top: 30px;
  height: 600px;
  width: 500px;
  align-items: center;

  animation: floatAnimationImg 2s infinite;
}
.homepage .content h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 10px;
  animation: floatAnimation 3s infinite; /* Cambia el valor "3s" para ajustar la velocidad */
}
.homepage .content .text {
  margin-bottom: 50px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.btn:nth-child(1){
  padding: 10px 27px;
  font-size: 24px;
  font-weight: bold;
  background-color: #0099ff;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: white;
  transition: all 1s ease-in-out;
}
.btn:nth-child(2){
  padding: 10px 27px;
  font-size: 24px;
  font-weight: bold;
  background-color: #3bca87;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: white;
  transition: all 1s ease-in-out;
}
.btn:nth-child(1):hover{
  transform: scale(1.02);
  background-color: #1a4f8b;
}
.sliderButton{
  position: relative;
  bottom: 6%;
  font-size: 50px;
  font-weight: bold;
  border-radius: 6px;
  
  border: none;
  cursor: pointer;
  color: white;
  transition: all 1s ease-in-out;
  animation: floatAnimationBtn 2s infinite;

}

@media screen and (max-width: 860px) {
  .homepage{
    margin-top: 80px;
    height: 50%;
    padding-top: 0;
  }
    .homepage .content h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .homepage .content .text {
    font-size: 17px;
  }
  .buttons{
    flex-wrap: wrap;
  }
  .btn{
    font-size: 18px;
  }
  .homeLogo{
    width: 400px;
  }
}
@media (max-width: 768px) {
  .homepage{
    background: url('../../assets/img/fondoresponsive.png');
  background-position: center ;
  background-size: cover;
  background-attachment: fixed;
}
  
  .contenedor {
    height: 150vh;
    margin-top: 80px; /* Márgenes más pequeños para pantallas más pequeñas */
  }
  .homeLogo{
    margin: 0;
    height: 300px;
    width: 250px;
  }
}
@keyframes floatAnimation {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-5px, -5px);
  }
  50% {
    transform: translate(5px, 5px);
  }
  75% {
    transform: translate(5px, -5px);
  }
}
@keyframes floatAnimationImg {
  0%,100%{
    transform: scale(1.05);
  }
  50%{
    transform: scale(1.1);
  }

}
@keyframes floatAnimationBtn {
  0%,100%{
    transform: scale(1.0);
  }
  50%{
    transform: scale(1.4);
  }

}

