@font-face {
    font-family: 'MiFuentePersonalizada';
    src: url('../src/assets/Trexos\ Regular.ttf') format('truetype');
    /* O puedes usar 'opentype' en lugar de 'truetype' si es una fuente OpenType (OTF) */
    font-weight: normal;
    font-style: normal;
  }
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MiFuentePersonalizada';
}
body{
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
    background: cover;
    
}
.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
  }
  .centered-content {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta el alto según tus necesidades */
  }