/* ModalButton.css */

.popup-modal {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    z-index: 1000;
    animation: prueba 1s ease-in-out;
    margin-bottom: 10px;
    transform-origin: center center;
    transform: scale(1); /* Comienza con un tamaño pequeño */
    transition: transform 4s ease-in-out; /* Agrega una transición para abrir */
  }
  
  .popup-modal.active {
    transform: scale(1); /* Cuando está activo, el modal se muestra en tamaño completo */
  }
  
  .popup-modal-content {
    padding: 10px;
    text-align: center;
  }
  
  .popup-modal img {
    max-width: 100%;
    height: auto;
  }
  
  .close-modal-button {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px; /* Cambia a la esquina superior derecha */
  }
  
  .close-modal-button:hover {
    background-color: #d32f2f;
  }
  
  @keyframes prueba {
    0% {
      opacity: 0;
      transform: scale(0.5); /* Comienza pequeño */
    }
    100% {
      opacity: 1;
      transform: scale(1); /* Termina grande */
    }
  }
  