/* LoginModal.module.css */
.modalBackdrop {
    /* Estilos para el fondo oscuro detrás del modal */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    /* Estilos para el contenido del modal */
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
  }
  
  .closeButton {
    /* Estilos para el botón de cerrar el modal */
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  /* Estilos adicionales para el formulario del modal */
  /* ... */
  .container{
    max-width: 440px;
    padding: 0 20px;
    margin:100px auto;
    margin-bottom:300px;
  }
  .wrapper{
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
  }
  .wrapper .title{
    display: flex;
    flex-direction: column;
    height: 281px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    color: #333;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
  }
  .wrapper .title img{
    width: 160px;
  }
  .wrapper form{
    padding: 30px 25px 25px 25px;
  }
  .wrapper form .row{
    height: 45px;
    margin-bottom: 15px;
    position: relative;
  }
  .wrapper form .row input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  form .row input:focus{
    border-color: #2a83e8;
    box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
  }
  form .row input::placeholder{
    color: #999;
  }
  .wrapper form .row i{
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: #2a83e8;
    border: 1px solid #2a83e8;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper form .pass{
    margin: -8px 0 20px 0;
    display: flex;
    align-items: end;
    justify-content: end;
  }
  .wrapper form .pass a{
    color: #2a83e8;
    font-size: 17px;
    text-decoration: none;
  }
  .wrapper form .pass a:hover{
    text-decoration: underline;
  }
  .wrapper form .button input{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #2a83e8;
    border: 1px solid #2a83e8;
    cursor: pointer;
    transition: all 500ms ease;
  }
  form .button input:hover{
    background: #2868b1;
  }
  .wrapper form .signup-link{
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
  }
  .wrapper form .signup-link a{
    color: #2a83e8;
    text-decoration: none;
  }
  form .signup-link a:hover{
    text-decoration: underline;
  }
  